<main class="register" >
  <section class="logoContainer" >
    <h1 class="logo">DivvieApp</h1>
  </section>
  <section class="formContainer" >
    <%= turbo_frame_tag "signin_signup_turbo_frame" do%>
      <%= render "signup", user: @user%>
    <%end%>
  </section>
</main>
